@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&family=Shadows+Into+Light+Two&family=Zeyada&display=swap');

.fnt{
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    
}
.fnt-1{
    font-family: 'poppins', sans-serif;
    
    
}
.navbar-toggler-icon{
    color: rgb(128, 128, 176);
}
/* .nav-item .nav-link{
    background-color: rgb(128, 128, 176);
} */
/* .dropdown-menu li a{
  background-color: rgb(128, 128, 176);
} */


.logo{
    /*font-family: 'Zeyada', cursive;*/
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.5rem;
    font-weight: 10rem;
    color: rgb(128, 128, 176);
    
}

.logo-footer{
  /*font-family: 'Zeyada', cursive;*/
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 2rem;
  font-weight: 10rem;
  color: rgb(128, 128, 176);

}
.logo-car{
    /*font-family: 'Zeyada', cursive;*/
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 4rem;
    font-weight: 10rem;
    color: rgb(128, 128, 176);
    
}
.crsSize{
    width: 1000px;
    
}
  .container {
    position: relative;
  }
  
  
  
  .text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    max-width: 80%;
    text-align: center;
  }
  .text-block-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    max-width: 80%;
    text-align: center;
    margin-top: 250px;
  }
  .container-1 {
    position: relative;
  }
  
  .area{
      width: 1000px;
      height: 500px;
  }
 .link-style{
  text-decoration: none;
  color: rgb(124, 124, 139);
 }
.blank-size{
  width: 100%;
  height: 650px;
}
